body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  text-align: center;
  margin: 0 auto;
  float: none;
  margin-top: 1cm;
  width: 20cm;
}

.card {
  margin-bottom: 1cm;
}

.img {
  width: 3cm;
  height: 3cm;
  margin-bottom: 1cm;
}

.colImg {
  border-right: 2px solid gray;
}

.divLead {
  background: lightblue;
  width: 2cm;
  height: 2cm;
  border-radius: 100%;
  line-height: 2cm;
  text-align: center;
  margin: auto;
}

.colScore {
  margin-bottom: 1cm;
}

.divNav {
  margin-top: 1cm;
  border-bottom: 1.5px solid steelblue;
  text-align: center;
  margin: 0 auto;
  width: 25cm;
}

.prog {
  margin: auto;
  width: 80%;
}


.navLink {
  background: steelblue;
  color: white;
}

.leftNav {
  margin-left: auto;
}

.imgHeader {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}